# Host use for reading
DTY_DB_READ_HOST="mysql://root:dbpassword@db/dirtybase"         # MyQl
#DTY_DB_READ_HOST="sqlite:data/dirtybase.db"                    # Sqlite

# Read connections to establish
DTY_DB_READ_MAX_CON=5        

# Host use for writing
DTY_DB_WRITE_HOST="mysql://root:dbpassword@db/dirtybase"         # MyQl
#DTY_DB_WRITE_HOST="sqlite:data/dirtybase.db"                    # Sqlite

# Write connections to establish
DTY_DB_READ_MAX_CON=5        
# --------------------------------------------
