[package]
name = "dirtybase_lock"
version.workspace = true
edition.workspace = true

[dependencies]
tokio = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true }
dirtybase_contract = { path = "../contract", version = "*" }
dirtybase_db_macro = { path = "../db_macro", version = "*" }
dirtybase_shared_type = { path = "../shared_type", version = "*" }
