DTY_DB_DEFAULT="sqlite" # valid values: sqlite, mysql, postgres

# MySql read connection configuration
DTY_DB_MYSQL_READ.ENABLE=false
DTY_DB_MYSQL_READ.URL=""
DTY_DB_MYSQL_READ.MAX=2

# MySql write connection configuration
DTY_DB_MYSQL_WRITE.ENABLE=false
DTY_DB_MYSQL_WRITE.URL=""
DTY_DB_MYSQL_WRITE.MAX=2
DTY_DB_MYSQL_WRITE.STICKY=true
DTY_DB_MYSQL_WRITE.STICKY_DURATION=10

# Sqlite read connection configuration
DTY_DB_SQLITE_READ.ENABLE=false
DTY_DB_SQLITE_READ.URL=""
DTY_DB_SQLITE_READ.MAX=2
DTY_DB_SQLITE_READ.FOREIGN_KEY=true
DTY_DB_SQLITE_READ.BUSY_TIMEOUT=60


# Sqlite write connection configuration
DTY_DB_SQLITE_WRITE.ENABLE=true
DTY_DB_SQLITE_WRITE.URL="sqlite::memory:"
DTY_DB_SQLITE_WRITE.MAX=2
DTY_DB_SQLITE_WRITE.FOREIGN_KEY=true
DTY_DB_SQLITE_WRITE.BUSY_TIMEOUT=60
DTY_DB_SQLITE_WRITE.STICKY=true
DTY_DB_SQLITE_WRITE.STICKY_DURATION=10

# Postgres read connection configuration
DTY_DB_POSTGRES_READ.ENABLE=false
DTY_DB_POSTGRES_READ.URL=""
DTY_DB_POSTGRES_READ.MAX=2


# Postgres write connection configuration
DTY_DB_POSTGRES_WRITE.ENABLE=false
DTY_DB_POSTGRES_WRITE.URL=""
DTY_DB_POSTGRES_WRITE.MAX=2
DTY_DB_POSTGRES_WRITE.STICKY=true
DTY_DB_POSTGRES_WRITE.STICKY_DURATION=10